.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal{
  position: relative;
  width: 500px;
  border-radius: 5px;
  background-color: var(--base_light_color);
  padding: 15px;

}

.header{
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary_color);
  margin: 0;
  padding-bottom: 5px;

}

.header::before{
  content: '';
  display: block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: url('../shared/assets/icons/calendar-svg.svg') no-repeat;
}

.header_close_button{
  border: none;
  margin-left: auto;
  padding: 0;
  color: var(--secondary_color);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}