.month_item_header_container {
  color: white;
  display: table-caption;
  border: 1px solid blue;
  background: blue;
  border-radius: 8px;
}

.month_title {
  padding: 5px 0;
  text-transform: uppercase;
}

.week_day {
  padding: 0 10px;
}