.calendar_body_container {
  display: flex;
  flex-wrap: wrap;
}

.month_item_container {
  flex: 0 0 25%;
}

.month_item_table {
  border-collapse: collapse;
}

.month_item_header_container {
  color: white;
  display: table-caption;
  border: 1px solid blue;
  background: blue;
  border-radius: 8px;
}

th {
  padding: 0 10px;
}

.month_title {
  padding: 5px 0;
  text-transform: uppercase;
}

.day_weekend {
  color: red;
}

.day_today {
  border: 2px solid black;
  color: green;
}
