.success_modal {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.success_modal_button {
  margin-top: 10px;
  padding: 5px;
  background-color: var(--secondary_color);
  border-radius: 3px;
  border: transparent;
  color: #fff;
}