.calendar_header_container {
  position: relative;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calendar_header_button {
  cursor: pointer;
}

.calendar_header_select {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.calendar_button_container{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 15px
}

.calendar_months_wrapper{
  align-self: center;
  display: flex;
  align-items: center;
  gap: 40px;
}

.calendar_month_wrapper {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 15px;
}

.calendar_body_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.month_item_container {
  flex: 0 0 20%;
  text-align: center;
  min-height: 200px;
}

.month_item_header_container {
  color: white;
  display: table-caption;
  border: 1px solid blue;
  background: blue;
  border-radius: 8px;
}

.month_title {
  padding: 5px 0;
  text-transform: uppercase;
}

.week_day {
  padding: 0 10px;
}

.day_weekend {
  color: red;
}

.day_today {
  background-color: lightgreen;
}

.day_selected {
  border: 1px solid black;
}

.choose_year_wrapper{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: lightgray;
}

.choose_year_list{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

td{
  position: relative;
  border: 1px solid transparent;
}

.td_tooltip{
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 10px;
  width: 200px;
  text-align: left;
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
}

.tooltip_list_element{
  list-style-type: "-";
  font-size: 10px;
}

.event_marker{
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: #f0f;
  border-radius: 50%;
}
