.calendar_container{
  width: 930px;
  flex-shrink: 0;
}

.calendar_header_container {
  position: relative;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calendar_header_button {
  cursor: pointer;
}

.calendar_header_select {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.calendar_button_container{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 15px
}

.calendar_months_wrapper{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.calendar_months_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.calendar_month_wrapper {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 15px;
}

.calendar_body_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 10px;
}

.month_item_container {
  flex: 0 0 20%;
  text-align: center;
  min-height: 200px;
  border: 2px solid transparent;
}

.month_item_selected_container {
  border: 2px solid var(--selected_color);
  border-radius: 15px;
}

.month_item_header_container {
  color: white;
  display: table-caption;
  border-radius: 8px;
  color: var(--secondary_color);
}

.month_title {
  padding: 5px 0;
  text-transform: uppercase;
}

.selected_month_title{
  color: var(--selected_color)
}

.week_day {
  padding: 0 10px;
  color: var(--base_dark_color);
}

.day_holiday {
  color: var(--holiday_color);
}

.day_today {
  border-radius: 10px;
  background-color: var(--selected_color);
  color: var(--base_light_color);
}

.day_selected {
  border-radius: 10px;
  background-color: var(--secondary_color);
  color: var(--base_light_color)
}

.choose_year_list{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

td{
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}

.td_tooltip{
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 10px;
  width: 200px;
  text-align: left;
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
}

.tooltip_list_element{
  list-style-type: "-";
  font-size: 10px;
}

.include_event{
  border: 1px solid var(--secondary_color);
  border-radius: 10px;
}
